#under-construction {
  display: none;
  position: absolute;
  top: 200px;
  left: 300px;
  font-size: 40px;
}

circle {
  stroke-width: 1.5px;
}

line {
  stroke: lightGrey;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  background: #768A90;
  color: #000;
  border: 1px solid #768A90;
  border-radius: 4px;
  width: 250px;
  height: 80px;
  font-size: 1rem;
}

.lines {
  stroke-width: 1px;
  stroke: rgb(161, 157, 157);
  position: absolute;
  z-index: -1;
  fill: rgb(161, 157, 157);
}